aiohappyeyeballs
aiohttp
aiosignal
anyio
attrs
certifi
charset-normalizer
datasets
dill
filelock
frozenlist
fsspec
h11
hf-xet
httpcore
httpsproxy_urllib2
httpx
huggingface-hub
idna
matplotlib
matplotlib-inline
multidict
multiprocess
numpy
opencv-python-headless
packaging
pandas
pillow
propcache
psutil
pyarrow
python-dateutil
pytz
PyYAML
pytest
requests
six
sniffio
tqdm
typing_extensions
tzdata
urllib3
xxhash
yarl
seaborn
scipy
Jinja2